<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead class="thead-bkg">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Number</th>
          </tr>
        </thead>
        <tbody>
          {{# each users }}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.name}} {{this.last_name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phone_number}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
